* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Be Vietnam", sans-serif;
}

/* MOBILE */
#bars {
  display: none;
  font-size: 20px;
  color: #242e52;
}

body {
  background-image: url("../imagenes/bg-tablet-pattern.svg"),
    url("../imagenes/bg-tablet-pattern.svg");
  background-position: 95% -5%, -50% 60%;
  background-size: 50%;
  background-repeat: no-repeat, no-repeat;
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0px;
}

/* header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px 50px;
  margin-bottom: 30px;
}

/* nav */

header #nav {
  flex-grow: 0.2;
}

li a:hover {
  cursor: pointer;
  color: rgba(242, 95, 58, 0.75);
}

ul a:visited {
  color: rgb(35, 44, 81);
}

ul {
  display: flex;
  list-style: none;
  color: #242e52;
}

li a {
  text-decoration: none;
  font-size: 13px;
  margin: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 176.1%;
}

#logo {
  margin-top: 15px;
  margin-left: 100px;
}

HEADER INPUT {
  margin-top: 15px;
  margin-right: 150px;
}

input {
  background-color: #f3603b;
  border-radius: 50px;
  width: 144px;
  height: 44px;
  border: none;
  font-size: 13.18px;
  color: white;
  transition: background-color 0.5s;
}

input:hover {
  cursor: pointer;
  background-color: rgba(242, 95, 58, 0.6);
}

/* baner-blanco - SECCIONES (FILAS X COLUMNAS)*/
#losCuatro {
  margin-left: 50px;
  margin-top: 80px;
}

#losCuatro .fila1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  margin-bottom: 30px;
}

#losCuatro .fila2 {
  display: flex;
  padding: 10px 100px;
  color: rgb(35, 44, 81);
}

h1 {
  color: #232851;
  font-size: 52px;
  line-height: 50px;
  font-weight: bold;
  margin-top: 28px;
  margin-left: 20px;
}

.col p {
  font-size: 16px;
  margin: 4% 0;
  line-height: 26px;
  color: rgb(35, 44, 81);
  margin-right: 80px;
}

h2 {
  width: 433px;
  height: 88px;
  font-weight: bold;
  font-size: 38px;
  color: #232851;
  line-height: 41px;
}

h4 {
  font-size: 17px;
  height: 2em;
  padding-top: 1%;
  width: 100%;
}

ol {
  list-style: none;
  padding-left: 0px;
  padding-right: 90px;
}

ol li p {
  padding-left: 180px;
  font-size: 14px;
  color: #b3b2b7;
}

.one::before {
  content: "01";
  background-color: #f3603b;
  padding: 5px 20px;
  border-radius: 20px;
  color: white;
  margin: 10px 30px;
  margin-left: 90px;
}
.two::before {
  content: "02";
  background-color: #f3603b;
  padding: 5px 20px;
  border-radius: 20px;
  color: white;
  margin: 10px 30px;
  margin-left: 90px;
}
.three::before {
  content: "03";
  background-color: #f3603b;
  padding: 5px 20px;
  border-radius: 20px;
  color: white;
  margin: 10px 30px;
  margin-left: 90px;
}
#ellipsis {
  display: none;
}
/* cards */
#ch2 {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 100px;
}

#cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
}

#tricards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imgs {
  background-color: #fff5e9ea;
  height: 250px;
  margin: 10px;
}

.imgs img {
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
  display: block;
}

.imgs h4 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16.0714px;
  line-height: 156.6%;
  color: #3f4868;
}

.imgs p {
  width: 403px;
  height: 78px;
  font-size: 14px;
  color: #b9b9c1;
  margin: 29px 10px;
  text-align: center;
}

#boton {
  margin-top: 30px;
  margin-bottom: 160px;
  text-align: center;
}

#boton input {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* baner naranja */

#prefooter {
  display: flex;
  justify-content: space-between;
  background-color: #f3613c;
  height: 224px;
  background-image: url("../imagenes/bg-simplify-section-desktop.svg");
  background-position: 140px -130px;
  background-repeat: no-repeat;
  flex-wrap: wrap-reverse;
}

#prefooter h2 {
  height: 96px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.005em;
  color: #ffffff;
  margin-left: 150px;
  margin-top: 70px;
}
#input1 {
  background-color: #ffffff;
  color: #f3613c;
  border-radius: 50px;
  border: none;
  font-size: 13.18px;
  margin-top: 90px;
  margin-right: 150px;
  cursor: pointer;
}

#input1:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(156, 67, 45, 0.568);
}

/* footer */
footer {
  background-color: rgb(30, 30, 38);
  display: flex;
  justify-content: space-around;
  padding: 40px 10px;
  color: white;
  margin-bottom: 0px;
}

#iconos {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

#iconos i:hover {
  cursor: pointer;
  color: rgba(243, 96, 59, 0.6);
}

.listas ul {
  display: flex;
  flex-direction: column;
}

.listas ul a {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
}

.listas ul a:hover {
  color: rgba(243, 96, 59, 0.5);
  cursor: pointer;
}

#reg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 85px;
}
#input2,
#boton2 {
  align-items: center;
  padding: 20px;
  width: 250px;
  height: 50px;
  left: -0.09px;
  top: 2.26px;
  background-color: #ffffff;
  border-radius: 50px;
  margin: 0px;
  font-size: 13px;
  line-height: 30px;
  color: #6b6969;
  border: none;
}

/* formulario - footer */

#boton2 {
  padding: 10px;
  width: 63px;
  height: 48px;
  background: #f3603b;
  border-radius: 50px;
  margin: 0px;
  border: none;
  margin-left: 5px;
  box-shadow: 0px 4px 8px 0px #f2613b80;
  color: #ffffff;
  font-weight: 500;
}

#boton2:hover {
  cursor: pointer;
  background-color: rgba(243, 96, 59, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

#logos {
  margin-left: 85px;
}

#ps {
  margin-bottom: 20px;
  margin-left: 100px;
  width: 213.85px;
  height: 19.85px;
  left: 980px;
  top: 2500px;
  font-style: normal;
  font-size: 12px;
  color: #8c8c94;
}

/* mediasQuerys */

@media screen and (max-width: 520px) {
  body {
    background-position: 200% -5%, -200% 65%;
    background-size: 80%;
  }

  /** MQ PARA EL HEADER */

  #nav {
    display: none;
  }

  header {
    margin: 5% 2% 1% 2%;
  }
  header img {
    height: 4vh;
    margin-top: 10px;
  }

  #bars {
    display: block;
  }

  /* MQ PARA LAS SECTION */

  /* Ambas section */

  .col {
    text-align: center;
    padding: 0%;
  }

  .fila2 {
    padding: 5% 5%;
  }

  /* Primer section */

  .fila1h1 {
    font-size: 40px;
  }

  .fila1 img {
    width: 90vw;
  }

  /* Segundo section */

  .fila1 ul li {
    text-align: left;
    margin: 15% 0;
  }

  .fila1 ul li h4 {
    font-size: 17px;
    background-color: rgba(243, 97, 60, 0.1);
    height: 2em;
    padding-top: 1%;
  }

  .fila1ul li p {
    margin: 6% 3%;
    font-size: 14px;
  }

  .fila1 {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0px;
  }

  /** MQ para las Cards */

  #tricards {
    margin: 10% 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  #cards h2 {
    margin-bottom: 15%;
  }

  #ellipsis {
    display: inline;
    color: #f3613c;
  }

  #ellipsis i {
    margin-bottom: 20px;
  }

  #prefooter {
    margin-top: 15%;
    height: 350px;
    background-image: url("../imagenes/bg-simplify-section-mobile.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #prefooter h2 {
    font-size: 40px;
    margin-bottom: 5%;
  }

  footer {
    flex-direction: column-reverse;
    align-items: center;
    padding: 3% 2%;
    height: 450px;
    position: relative;
  }

  footer .listas {
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }

  footer li {
    margin: 12px 12px;
  }

  #mobile-logos {
    flex-direction: column-reverse;
    height: 100px;
    margin: 5% 0;
  }

  #logos {
    height: 4em;
    width: 60vw;
    justify-content: space-evenly;
  }

  footer img {
    width: 60vw;
  }

  form input:invalid + p::after {
    content: "Please insert a valid email";
  }

  form {
    display: flex;
  }

  #ps {
    position: absolute;
    margin: 3%;
    bottom: 0;
  }
}
